{% extends 'basic.html' %}
{% block title %}Services - HomeService{% endblock %}


{% block body %}

{% load static %}

<section class="w3l-inner-banner">
        <div class="wrapper">
        </div>
    </section>

    <div class="w3l-grids-block-5">
        <!-- grids block 5 -->
        <section id="grids5-block">
            <div class="wrapper">
                <h5 class="heading">Our Service Categories</h5>
                <br>
                <br>

                <div class="d-grid ">
                    {% for sd in servicedetails %}
                    <div class="grids5-info h-100">
                        <img src="/media/{{sd.service_category_photo}}" alt="" />
                        <div class="blog-info">
                            {%if profiledata %}
                                <h4><a href="/catwiseservice/{{sd.id}}">{{sd.service_category_name}}</a></h4>
                            {%else%}
                                <h4><a href="/completeprofile">{{sd.service_category_name}}</a></h4>
                            {%endif%}
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
    </div>
    <!-- //form 28 block -->

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->


</body>

{% endblock %}